<h1>Выберите продукты, на которые у вас аллергия</h1>

<%= form_for :subscriber, url: subscribers_sign_in_path, method: :post do |f| %>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
  email: <%= f.text_field :email %>
  </br>
  <%= f.collection_check_boxes :ingredient_ids, @ingredients, :id, :name, include_hidden: false %>
  <%= f.submit %>
<%end%>

